:root {
  --do_color_primary_dark_10: #670098;
  --do_color_primary_base: #8100be;
  --do_color_primary_light_50: #f6f0fa;

  --do_text_color_300: #9b9b9b;
  --do_text_color_500: #ededed;
  --do_text_color_600: white;

  --do_text_size_sm: 0.875rem;
  --do_text_size_md: 1rem;
  --do_text_size_lg: 1.5rem;

  --do_border_color: var(--do_text_color_500);
  --do_border_radius_sm: 4px;
  --do_border_radius_md: 8px;
}
